# Database
DB_HOST=localhost
DB_PORT=5437
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=ms-auth-service

# Core
SERVICE_NAME=auth-service
PORT=8080

# Auth
JWT_EXPIRE=15m
REFRESH_EXPIRE=168h
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
